/* Header syling */
header {
    background-color: #1A1A1A;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Align items in the center */
    align-items: center; /* Vertically center items */
  }

header a {
    color: #F4F4FF;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

ul {
    list-style-type: none; /* Removes the bullet points from the list */
    padding: 0; /* Removes padding */
    display: flex; /* Displays the list items inline */
    gap: 24px; /* Adds a gap between the icons */
  }
  
  li {
    display: inline; /* Further ensures the items are in a line */
  }

    /* Base style for all links */
    a {
        color: #A99CFF;
        /*background-color: #EDEAFF;*/
        /*border-radius: 10px;*/
        display: inline-block;
        margin: 20px 0;
        text-decoration: none;
        /*font-size: 2em;*/
      }
      a:hover {
        color: #7A67E0;
        /*text-decoration: underline;*/
        font-weight: 600;
        transition: color 0.3s ease;
      }
      a:active {
        color: #A99CFF;
      }
      a:focus {
        outline: 1px dotted #000;
        outline-offset: -4px;
      }    

/* General body styling */
body {
    background-color: #1A1A1A;
    color: #F4F4FF;
    font-family: 'Roboto', sans-serif;
    margin: 100px 0px 0px 0px;
  }
  
  /* Dashboard container */
  .dashboard-container {
    margin: 50px;
  }

  .dashboard-graphs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .advice-container {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: #141414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .advice-text {
    padding: 25px;
    font-size: 18px;
    font-style: italic;
  }  
  
  /* Bar chart styling */
  .bar-chart-container {
    grid-column: 1;
    grid-row: 2;
    background-color: #141414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Line chart styling */
  .line-chart-container {
    grid-column: 2;
    grid-row: 2;
    background-color: #141414;
    border-radius: 8px;
  }
  