/*
Primary Color
Slightly Darker Lavender
#7A67E0
Backgrounds and Headers

Neutral1
Off-White
#F4F4FF

Neutral2
Off-Black
#2A2A2A

Neutral3
Monochromatic darker black
#1A1A1A
#141414 - A more pronounced dark shade

Secondary Color
Soft Lavender
#A99CFF
Secondary Background, Text and Subtle Details

Tertiary Color
Pale Lavender
#EDEAFF
Background or Body Text
*/


/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  background-color: #1A1A1A;
  color: #F4F4FF;
  font-family: 'Roboto', sans-serif;
}

h1{
  color:#7A67E0;
  font-size: 5em;
  text-align:left;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing:2px;
  text-shadow: 0.8px 1.6px #EDEAFF;
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding to maintain size */
  min-height: 7.5vh; /* Ensure the h1 has a minimum height */
  width: 100%; /* Full width of its container */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow: hidden; /* Prevents text from overflowing */
  border-color: #EDEAFF; /* Visible cursor */
}


/* Blinking cursor effect */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}
h1 {
  animation: blink 1s step-end infinite;
  border-right: 2px solid #EDEAFF; /* Visible cursor */
}

/* Define the styles for the highlight box */
.highlight-box {
  background-color: #141414; /* Example unique color */
  border-radius: 100px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  position: relative; /* Position relative for z-index */
  z-index: -1; /* Ensure it stays behind the content */
}

.center {
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
}

.about {
  padding: 20px;
  text-align: left;
  justify-content: center;
  align-items: center;
  /*height: 35vh;*/
}

.about b {
  color: #A99CFF;
}

.about h2 {
  font-size: 2em;
  color: #EDEAFF;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.about h3 {
  font-size: 1.4em;
  color: #F4F4FF;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

.about h3 b {
  color: #A99CFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

ul {
  list-style-type: none; /* Removes the bullet points from the list */
  padding: 0; /* Removes padding */
  display: flex; /* Displays the list items inline */
  gap: 24px; /* Adds a gap between the icons */
}

li {
  display: inline; /* Further ensures the items are in a line */
}

img {
  max-width: 720px;
  vertical-align: middle; /* Aligns the icons vertically */
}

/* Base style for all links */
a {
  color: #A99CFF;
  /*background-color: #EDEAFF;*/
  /*border-radius: 10px;*/
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  /*font-size: 2em;*/
}
a:hover {
  color: #7A67E0;
  /*text-decoration: underline;*/
  font-weight: 600;
  transition: color 0.3s ease;
}
a:active {
  color: #A99CFF;
}
a:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}


/* PROJECTS SUBPAGE */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.project-box {
  background-color: #141414;
  border: 1px solid #7A67E0;
  border-radius: 10px;
  width: 100vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.project-box:hover {
  transform: translateY(-10px);
}
.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.project-description {
  font-size: 1em;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
  #typing-container {
    min-height: 10vh;
  }

  h1 {
    font-size: 2.6em;
    text-align: center;
    padding: 10px;
  }

  .center {
    font-size: 1.4em;
    height: auto;
    padding: 10px;
  }

  .about h2 {
    font-size: 1.5em;
  }

  .about h3 {
    font-size: 1.2em;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  img {
    width: 36px;
    height: 36px;
  }

  .terminal_emulator {
    padding: 20px;
    font-size: 12px;
    line-height: 20px;
  }

  .profile-pic {
    width: 75px;
    height: auto;
  }
  
  .avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  .speech-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

/* Media Queries for Large Screens 
@media (min-width: 3200px) {
  #typing-container {
    min-height: 15vh;
  }
}*/