/*
Primary Color
Slightly Darker Lavender
#7A67E0
Backgrounds and Headers

Neutral1
Off-White
#F4F4FF

Neutral2
Off-Black
#2A2A2A

Secondary Color
Soft Lavender
#A99CFF
Secondary Background, Text and Subtle Details

Tertiary Color
Pale Lavender
#EDEAFF
Background or Body Text
*/


/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


body {
  background-color: #2A2A2A;
  color: #F4F4FF;
  font-family: 'Roboto', sans-serif;
}

#typing-container {
  height: 20vh; /*min-content;*/
  width: min-content; /*100%;*/
  white-space: nowrap;  /* Prevents content from wrapping */
  /*
  display: inline-block;
  justify-content: center;
  align-items: center;
  */
}

h1{
  color:#7A67E0;
  font-size: 5em;
  text-align:left;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing:2px;
  text-shadow: 0.8px 1.6px #EDEAFF;
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding to maintain size */
  min-height: 80px; /* Ensure the h1 has a minimum height */
  width: 100%; /* Full width of its container */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow: hidden; /* Prevents text from overflowing */
  border-color: #EDEAFF; /* Visible cursor */
}


/* Blinking cursor effect */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}
h1 {
  animation: blink 1s step-end infinite;
  border-right: 2px solid #EDEAFF; /* Visible cursor */
}


.center {
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.about {
  padding: 20px;
  text-align: left;
  justify-content: center;
  align-items: center;
  /*height: 35vh;*/
}

.about h2 {
  font-size: 2.5em;
  color: #A99CFF;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

.about h3 {
  font-size: 2em;
  color: #A99CFF;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style-type: none; /* Removes the bullet points from the list */
  padding: 0; /* Removes padding */
  display: flex; /* Displays the list items inline */
  gap: 24px; /* Adds a gap between the icons */
}

li {
  display: inline; /* Further ensures the items are in a line */
}

img {
  width: 48px; /* Sets a uniform size for the icons */
  height: 48px;
  vertical-align: middle; /* Aligns the icons vertically */
}

/* Base style for all links */
a {
  color: #A99CFF;
  /*background-color: #EDEAFF;*/
  border-radius: 10px;
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  /*font-size: 2em;*/
}
a:hover {
  color: #7A67E0;
  /*text-decoration: underline;*/
  font-weight: 600;
  transition: color 0.3s ease;
}
a:active {
  color: #A99CFF;
}
a:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

/*TERMINAL ANIMATION*/

.screen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  background: #000000;
}

.terminal_emulator {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  padding: 40px;
  font-size: 20px;
  line-height: 25px;
  box-sizing: border-box;
  text-align: left;
  font-family: monospace;
  font-weight: 700;
  color: #EDEAFF;/*#99ff99;*/
}

.terminal_emulator__field,
.terminal_emulator__command {
  position: relative;
  padding: 0 1em;
  margin: 0 0 9px 0;
}

.terminal_emulator__field:before,
.terminal_emulator__command:before {
  position: absolute;
  left:0;
  top: 0;
  content:">";
}

.terminal_emulator__response,
.terminal_emulator__command b {
  padding-bottom: 9px;
}

.terminal_emulator__field {
  display: inline-block;
  min-width: 1em;
  min-height: 1.5em;
  box-sizing: border-box;
}

.terminal_emulator__field:after {
  position: absolute;
  right: 0;
  bottom: 0.25em;
  content:"";
  width: 1em;
  height: 1.5em;
  background: #EDEAFF;/*#99ff99;*/
  animation: caretBlink 1s infinite;
}

@keyframes caretBlink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}
