.venv
.env

# testing folder
testing/*

# bun dependencies
node_modules/*
bun.lockb
index.ts
package.json
tsconfig.json

# visuals
imgs/edit.pptx
imgs/planets/planets.pptx
imgs/3d-nlp-vis.mp4
imgs/3d-nlp-vis.gif
imgs/3d-nlp-vis-reverse.gif