.venv
.env

# testing folder
testing/*

# bun dependencies
node_modules/*
bun.lockb
index.ts
package.json
tsconfig.json

# visuals
imgs/edit.pptx
imgs/planets/planets.pptx
imgs/3d-nlp-vis.mp4
imgs/3d-nlp-vis.gif
imgs/3d-nlp-vis-reverse.gif

# resources
cv_weigold_english.pdf
infos.md\n# Log files\nnpm_output.log\nvite_output*.log
